@import 'bootstrap';
@import 'bootstrap-icons';


.jumbo {
    position: relative;
}

.jumbo_img {
    width: 100%;
    aspect-ratio: 1;

}

.jumbo_info {
    position: absolute;
    top: 0;
    z-index: 10;
    color: red;
}